<div class="body">
  <audio autoplay #audioPlayer loop src="../../../assets/bgmusic"></audio>
  <div class="container">
    <h2>Login</h2>
    <form [formGroup]="userDetails">
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required formControlName="email">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required formControlName="password">
      </div>
      <button type="submit" (click)="logIn()" class="btn">Login</button>
    </form>
  </div>
</div>
