/* Styles for the component */
.body {
  background-color: black;
  background-image: url('../../../assets/img/bgimg2.jpg'); /* Background Image */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  display: flex;
  justify-content: flex-end; /* Centers the container horizontally */
  align-items: center; /* Centers the container vertically */
  padding-right: 30px;
}

.container {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Stronger shadow for a floating effect */
  max-width: 250px;
  width: 100%;
  color: #fff;  /* Optional: Adds a light background for better contrast */
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: 1px solid #ccc; /* Optional: Add border styling */
  border-radius: 4px; /* Optional: Add border radius */
}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50; /* Keep the same button color */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px; /* Optional: Add border radius */
}

.form-group button:hover {
  background-color: #45a049; /* Darken the button on hover */
}
.btn{
  cursor: pointer;
}